name: Deploy Lambda Demo

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Zip Lambda
        run: |
          cd lambda
          zip -r ../lambda/deployment.zip .

      - name: Setup AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-southeast-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.6.0

      - name: Terraform Init
        run: terraform init
        working-directory: terraform

      # - name: Import existing resources
      #   run: |
      #     terraform import -lock=false aws_s3_bucket.uploads serverless-ai-uploads || true
      #     terraform import -lock=false aws_dynamodb_table.files ai_demo_files || true
      #     terraform import -lock=false aws_iam_role.lambda_role lambda_ai_demo_role || true
      #   working-directory: terraform

      - name: Terraform Plan
        run: terraform plan
        working-directory: terraform

      - name: Terraform Apply
        run: terraform apply -auto-approve
        working-directory: terraform
